
{{!-- <h2>Login</h2>

<form action="/auth/login" method="POST" id="form-container">
  <label for="username">Username</label>
  <input id="username" type="text" name="username" placeholder="JonSnow">

  <br><br>

  <label for="password">Password</label>
  <input id="password" type="password" name="password" placeholder="Your password">
  <br>
  {{#if message }}
    <div class="error-message">{{ message }}</div>
  {{/if}}

  <br><br>

  <button>Login</button>

  <p class="account-message">
    Don't have an account yet?
    <a href="/auth/signup">Signup</a>
  </p>
</form>

<hr /> --}}
<div class='auth-container'>

<h1>Login.</h1>

  <button class='auth-button FB-auth'><a href="/auth/facebook">Sign in with Facebook</a></button>
  <button class='auth-button GO-auth'><a href="/auth/google">Sign in with Google</a></button>
  <button class='auth-button LI-auth'><a href="/auth/github">Sign in with Linkedin</a></button>
  <button class='auth-button EM-auth'><a href='#'>Sign in with Email</a></button>
  {{#if message }}
    <div class="error-message">{{ message }}</div>
  {{/if}}

  <div class='auth-separator'></div>

  <p>OR</p>

  <a href='auth/signup'><h4>REGISTER</h4></a>
</div>