{{!-- <h2>Signup</h2>

<form action="/auth/signup" method="POST" id="form-container">
  <label for="username">Username</label>
  <input id="username" type="text" name="username" placeholder="JonSnow">

  <br><br>

  <label for="password">Password</label>
  <input id="password" type="password" name="password" placeholder="Your password">
  <br>
  {{#if message }}
    <div class="error-message">{{ message }}</div>
  {{/if}}

  <br><br>

  <button class='signup-button'>Create account</button>

  <p class="account-message">
    Do you already have an account?
    <a href="/auth/login">Login</a>
  </p>
</form> --}}

<div class='auth-container'>
  <button class='auth-button FB-auth'>Register with Facebook</button>
  <button class='auth-button GO-auth'>Register with Google</button>
  <button class='auth-button LI-auth'>Register with Linkedin</button>
  <button class='auth-button EM-auth'>Register with Email</button>
  {{#if message }}
    <div class="error-message">{{ message }}</div>
  {{/if}}
</div>