<div class='auth-container'>

<h1>Register.</h1>

  <a href="/auth/facebook"><button class='auth-button FB-auth'>Register with Facebook</button></a>
  <a href="/auth/google"><button class='auth-button GO-auth'>Register with Google</button></a>
  <a href="/auth/github"><button class='auth-button GI-auth'>Register with Github</button></a>
  <a href="#"><button class='auth-button EM-auth'>Register with Email</button></a>
  {{#if message }}
    <div class="error-message">{{ message }}</div>
  {{/if}}

</div>

