<div class='profile-container'>

  <h1>Company Profile.</h1>

    <div class='profile-header'>
      <img src='https://liquidcinemavr.com/wp-content/uploads/2019/03/bbc-logo.jpg' height='200px'>
      <div class="profile-header-content">
        <h2>BBC</h2>
        <h3>Rating: 4.8</h3>
        <a href='bbc.co.uk'>bbc.co.uk</a>
      </div>
    </div>

    <div class="company-properties">
      <p>Category: <em>General</em></p>
      <p>Country: <em>UK</em></p>
      <p>Language: <em>EN</em></p>
    </div>

    <h2>Description</h2>
    <p>The BBC are widely regarded as the UK's top and most reliable news sources with a strong legacy of upstanding reporting with emphasis on social issues and telling the stories of those around the world who might not have the chance to be heard.</p>
    <p>However, due to their political relationships and prestigous nature, the organisation can demonstrate certain political leanings.</p>
    <p>Overall, the BBC is one of the more reliable UK news sources but one must be cautious of the organisation's relationships with senior members of the UK's leading political parties.</p>

    <h2>Polticial Bias</h2>
    <p>The BBC has historically been a centre-right organisation. It's a publically funded, urban organisation with a higher proportion of young people and ethnic minorities.</p>
    <p>Therefore it tends to hold a liberal bias and, whilst it aligns with the Liberal Party ideals, it also closely allies with the Tories.</p>
    <p>Writers can often flex their own political opinions and agendas so it's best to be aware. </p>

    <h2>Sources of Funding in 2018</h2>
    <p><strong>UK Government Funding: </strong>$56 million</p>
    <p><em>Source: UK Government Public Expenditure Report 2018</em></p>
    <p><strong>Advertising Revenue: </strong>$26 million</p>
    <p><em>Source: BBC Public Accounts 2018</em></p>
    <p><strong>Liberal Party: </strong>$3 million</p>
    <p><em>Source: Liberal Party 2018 Spending Overview</em></p>
    <p><strong>Private Investors: </strong>$1.6 million</p>
    <p><em>Source: BBC Public Accounts 2018</em></p>

    <h2>Recent Articles</h2>
    <div class='contributed-reviews'>
      <img src='https://www.aljazeera.com/mritems/imagecache/mbdxxlarge/mritems/Images/2019/5/18/19465020e67448568d269c83b9e853f8_18.jpg' height='80px' width='80px'>
      <div class='profile-content'>
        <p><strong>Venezuela opposition to resume Norway-backed talks</strong></p>
        <p><em>Rating:</em> 3.4</p>
      </div>
    </div>

</div>