<div class='welcome-container'>

  <h1>Welcome.</h1>

  <h3>We live in an era of fake news, a time in which we <span class='underline'>struggle to trust</span> the sources of our news.</h3>

  <h3>This platform aims to <span class='underline'>change</span> that.</h3>

  <h3>Opinion provides a more reliable context in which digital media can be consumed.</h3>

  <h3>Browse user-generated reviews of news sources before you decide what articles to read.</h3>

  <div class='welcome-button'>
    <a href='/'><button class='like-button big-like'>Continue to site</button></a>
  </div>

</div>