<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href="https://fonts.googleapis.com/css?family=DM+Serif+Display&display=swap" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
<div class='nav-header'>
<nav role='navigation'>

  <h1>Opinion.</h1>

  <div id="menuToggle">
  
    <input type="checkbox" />

    <span></span>
    <span></span>
    <span></span>
    
    <ul id="menu">
      <a href="/"><li>Home</li></a>
      <a href="/auth/login"><li>Login</li></a>
      <a href="/auth/signup"><li>Signup</li></a>
      <a href="/auth/logout"><li>Logout</li></a>
    </ul>
</nav>

  <hr />

  </div>
  
  {{{body}}}

  <script src="/javascripts/script.js"></script>
</body>
</html>