<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href="https://fonts.googleapis.com/css?family=DM+Serif+Display&display=swap" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>

<nav>

  <h1>Opinion.</h1>


<div id="myNav" class="overlay">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <div class="overlay-content">
      <a href="/">Home</a>
      <a href="/auth/login">Login</a>
      <a href="/auth/signup">Signup</a>
      <a href="/auth/logout">Logout</a>
      <a href='/profile/user'>User Profile</a>
      <a href='/homepages/sources'>All Sources</a>
      <a href='/profile/sourceProfile'>Company Profile</a>
      <a href='/homepages/article'>Sample Article</a>
  </div>
</div>

<span onclick="openNav()">&#9776;</span>

</nav>

  <hr />

  
  {{{body}}}

  <script src="/javascripts/script.js"></script>
</body>
</html>