body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; 
  overflow-x: hidden;
}

h1 {
  font-size: 3.2em;
  margin: 0;
  font-family: 'DM Serif Display', serif;
}

h2 {
  font-family: 'DM Serif Display', serif;
  margin: 0;
  font-size: 2.5em;
}

h3 {
  font-family: 'DM Serif Display', serif;
  margin: 0;
  font-size: 1.5em;
  font-weight: 300;
}

nav {
  display: flex;
  padding-bottom: 20px;
}

/* Navigation */

.collapsible {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  border: none;
  margin-left: auto;
  padding-top: 10px;
  outline: none;
}

.menu-icon {
  border-bottom: 4px solid darkgray;
  width: 32px;
  padding: 4px;
}

/* Signin & Login pages */

.auth-container {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  padding-top: 60px;
}

.auth-button {
  display: block;
  width: 300px;
  padding: 10px;
  border: 3px solid black;
  border-radius: 50px;
  margin: 10px;
  font-size: 1.1em;
  font-weight: 500;
}

.FB-auth {
  border: 3px solid rgb(63, 96, 184)
}

.FB-auth:hover {
  color: white;
  background-color: rgb(63, 96, 184)
}

.LI-auth {
  border: 3px solid rgb(0, 116, 187)
}

.LI-auth:hover {
  color: white;
  background-color: rgb(0, 116, 187)
}

.GO-auth {
  border: 3px solid rgb(255, 190, 0)
}

.GO-auth:hover {
  color: white;
  background-color: rgb(255, 190, 0)
}

.EM-auth {
  border: 3px solid rgb(18, 32, 62)
}

.EM-auth:hover {
  color: white;
  background-color: rgb(18, 32, 62);
}

.auth-separator {
  margin: 50px;
  width: 250px;
  border-bottom: 1px solid rgb(153, 153, 153)
}

.auth-separator + p {
  font-size: 0.9em;
}

.auth-container a {
  padding-top: 40px;
  font-size: 1.2em;
  color: black;
}

/* Profile Page */

.profile-container {

  h1 {
    margin: 50px 0;
  }

  h2 {
    margin-top: 60px;
  }

  .profile-header {
    display: flex;
    margin: 40px 10px 5px;
  }

  .profile-header-content {
    margin: 0 30px;
  }

  .company-properties {
    display: flex;
    justify-content: space-around;
    color: darkgray;
    margin: 0px 10px;
    font-size: 0.95m;
  }

  .contributed-reviews {
    padding: 20px;
    display: flex;

    * {
      margin: auto 0;
    }

    .profile-content {
      display: flex;
      flex-direction: column;
      margin-left: 10px;
      max-width: 200px;
    }
  }

}



a {
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

a:hover {
  color: tomato;
}

#menuToggle
{
  display: block;
  position: absolute;
  top: 80px;
  right: 80px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0;
  z-index: 2; 
  
  -webkit-touch-callout: none;
}

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  opacity: 1;
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 0;
  padding: 50px;
  padding-top: 125px;
  right: -100px;
  
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's fade it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: scale(1.0, 1.0);
  opacity: 1;
}