body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  overflow-x: hidden;
  max-width: 650px;
  margin: 0 auto; }

h1 {
  font-size: 3.2em;
  margin: 50px 0;
  font-family: 'DM Serif Display', serif; }

h2 {
  font-family: 'DM Serif Display', serif;
  margin: 0;
  font-size: 2.5em; }

h3 {
  font-family: 'DM Serif Display', serif;
  margin: 0;
  font-size: 1.5em;
  font-weight: 300; }

h4 {
  font-size: 1.1em; }

a {
  text-decoration: none;
  color: black; }

/* Like button */
.like-button {
  color: #2d63ff;
  border: 2px solid #2d63ff;
  border-radius: 5px;
  display: inline;
  margin: 5px;
  outline: none;
  font-size: 1em; }

.like-button:hover {
  color: white;
  background-color: #2d63ff; }

.like-button:active {
  background-color: black; }

.big-like {
  padding: 5px 15px;
  font-size: 1.3em; }

.link {
  margin: 10px 0;
  color: #2d63ff; }

/* Navigation */
nav {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px; }

nav span {
  font-size: 30px;
  cursor: pointer;
  padding: 10px 15px 0 0; }

nav h1 {
  margin: 0; }

/* Menu */
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.95);
  overflow-x: hidden;
  transition: 0.5s; }

.overlay-content {
  font-family: 'DM Serif Display', serif;
  position: relative;
  top: 15%;
  width: 100%;
  text-align: center;
  margin-top: 30px; }

.overlay a {
  font-size: 1.2em;
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #c2c2c2;
  display: block;
  transition: 0.3s; }

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1; }

.overlay-content a:hover {
  text-decoration: underline; }

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px; }

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px; }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px; } }

.homepage-container hr {
  margin: 50px 0; }

.homepage-container .first-story-container .first-story-content h2 {
  margin-top: 20px; }

.homepage-container .first-story-container .first-story-content h4 a {
  text-decoration: none;
  color: #5e5c5c; }

.stories-container {
  margin: 50px 0; }
  .stories-container .stories-content {
    height: 180px; }
    .stories-container .stories-content h4 a {
      color: #5e5c5c; }
  .stories-container hr {
    margin: 0;
    border-color: #f5f4f4; }
  .stories-container h3 a {
    text-decoration: none;
    color: black; }
  .stories-container .stories-img-container {
    float: right;
    object-fit: cover;
    margin-left: 20px;
    width: 200px;
    height: 180px; }
    .stories-container .stories-img-container img {
      width: 100%;
      height: auto; }
  @media screen and (max-width: 700px) {
    .stories-container h3 {
      font-size: 1.2em; }
    .stories-container .stories-img-container {
      width: 180px; } }
  @media screen and (max-width: 570px) {
    .stories-container p, .stories-container h6 {
      margin: 10px 0; }
    .stories-container .stories-img-container {
      width: 160px; } }
  @media screen and (max-width: 500px) {
    .stories-container .stories-img-container {
      float: none;
      height: 120px;
      margin: 0 auto; } }

/* Profile Page */
.profile-container h2 {
  margin-top: 60px; }

.profile-container .profile-header {
  display: flex;
  margin: 40px 10px 5px; }

.profile-container .profile-header img {
  border-radius: 3px; }

.profile-container .profile-header-content {
  padding-left: 20px;
  margin: 0 30px; }
  .profile-container .profile-header-content .edit-button {
    color: #2d63ff;
    border: 2px solid #2d63ff;
    border-radius: 5px;
    margin-top: 10px;
    outline: none;
    font-size: 1em;
    padding: 2px 5px;
    width: 80px; }

.profile-container .contributed-reviews {
  padding: 20px;
  display: flex; }
  .profile-container .contributed-reviews * {
    margin: auto 0; }
  .profile-container .contributed-reviews .profile-content {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    max-width: 200px; }

textarea {
  overflow: hidden;
  border-radius: 5px;
  border: none;
  background-color: #efefef;
  margin: 10px 0;
  padding: 10px;
  font-size: 1.1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%; }

.sources-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around; }

.source-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 200px; }
  .source-item h3 {
    margin: 10px; }

.article-content h1 {
  margin-bottom: 0; }

.article-content img {
  margin-top: 30px; }

.article-content hr {
  margin: 40px 0; }

.article-content .article-title-content {
  display: flex;
  justify-content: space-between; }

.redirect-container {
  display: flex;
  justify-content: center; }

.article-source-info {
  background-color: #eee;
  border-radius: 3px;
  margin: 50px 0;
  padding: 15px; }
  .article-source-info h3 {
    margin: 30px 0 15px; }
  .article-source-info .source-description-title {
    display: flex;
    justify-content: space-between; }
    .article-source-info .source-description-title .edit-source-button {
      padding: 8px 15px; }

.article-redirect {
  margin: 0 auto;
  cursor: pointer;
  outline: none;
  border: none;
  padding: 12px 20px;
  border-radius: 5px;
  color: #2d63ff;
  border: 3px solid #2d63ff;
  font-size: 0.9em;
  text-transform: uppercase;
  font-weight: 600; }

.article-redirect:hover {
  background-color: #2d63ff;
  color: white; }

.article-redirect:active {
  background-color: #0e1e4e; }

.comment-container h2 {
  margin-bottom: 20px; }

.comment-container h3 {
  margin: 20px 0; }

.comment-container .article-comment {
  display: flex;
  align-items: center; }

.comment-container .article-comment img {
  margin: 15px;
  border-radius: 2px; }

.comment-container p {
  margin: 2px; }

.comment-container input {
  width: 100%;
  margin: 15px;
  background-color: #eee;
  width: 95%;
  padding: 8px 0 8px 8px;
  border-radius: 3px;
  border: none;
  outline: none;
  font-size: 0.95em; }

/* Signin & Login pages */
.auth-container {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  padding-top: 60px; }
  .auth-container h1 {
    margin-top: 0; }
  .auth-container a {
    text-decoration: none;
    padding-top: 20px;
    font-size: 1.2em; }

.auth-button {
  cursor: pointer;
  display: block;
  width: 300px;
  padding: 10px;
  border: 3px solid black;
  border-radius: 50px;
  margin: 0px;
  font-size: 1.1em;
  font-weight: 500; }

.FB-auth {
  border: 3px solid #3f60b8; }

.FB-auth:hover {
  color: white;
  background-color: #3f60b8; }

.LI-auth {
  border: 3px solid #0074bb; }

.LI-auth:hover {
  color: white;
  background-color: #0074bb; }

.GO-auth {
  border: 3px solid #ffbe00; }

.GO-auth:hover {
  color: white;
  background-color: #ffbe00; }

.EM-auth {
  border: 3px solid #12203e; }

.EM-auth:hover {
  color: white;
  background-color: #12203e; }

.auth-separator {
  margin: 50px;
  width: 250px;
  border-bottom: 1px solid #999999; }

.auth-separator + p {
  font-size: 0.9em; }

.contributed-reviews {
  display: flex;
  align-items: center; }

.recent-articles-img-container {
  float: right;
  object-fit: cover;
  margin-left: 20px;
  width: 200px;
  height: 100px; }

.recent-articles-img-container img {
  width: 100%;
  height: auto; }

.menu-underline {
  margin: 50px auto;
  width: 200px;
  border-bottom: 2px solid #c2c2c2; }

/*# sourceMappingURL=style.css.map */