body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; 
  overflow-x: hidden;
  max-width: 650px;
  margin: 0 auto;
}

h1 {
  font-size: 3.2em;
  margin: 50px 0;
  font-family: 'DM Serif Display', serif;
}

h2 {
  font-family: 'DM Serif Display', serif;
  margin: 0;
  font-size: 2.5em;
}

h3 {
  font-family: 'DM Serif Display', serif;
  margin: 0;
  font-size: 1.5em;
  font-weight: 300;
}

h4 {
  font-size: 1.1em;
}

a {
  text-decoration: none;
  color: black;
}



/* Like button */

.like-button {
  color: rgb(45, 99, 255);
  border: 2px solid rgb(45, 99, 255);
  border-radius: 5px;
  display: inline;
  margin: 5px;
  outline: none;
  font-size: 1em;
}

.like-button:hover {
  color: white;
  background-color: rgb(45, 99, 255);
}

.like-button:active {
  background-color: black;
}

.big-like {
  padding: 5px 15px;
  font-size: 1.3em;
}




/* Navigation */

nav {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

nav span {
  font-size: 30px;
  cursor: pointer;
  padding: 10px 15px 0 0;
}

nav h1 {
  margin: 0;
}





/* Menu */

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.95);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  font-family: 'DM Serif Display', serif;
  position: relative;
  top: 15%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  font-size: 1.2em;
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #c2c2c2;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay-content a:hover {
  text-decoration: underline;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}




// homepage

.homepage-container {
  
  h1 {
    margin: 0;
  }

  hr {
    margin: 50px 0;
  }

  .first-story-container {
    .first-story-content {
      h2 {
        a {
          text-decoration: none;
          color: black;
        }
      }
    }
  }
}

.stories-container {
  margin: 50px 0;

  .stories-content {
    height: 180px;
  }

  hr {
    margin: 0;
    border-color:#f5f4f4;
  }

  h3 {
    a {
      text-decoration: none;
      color: black;
    }
  }

  .stories-img-container {
    float: right;
    object-fit: cover;
    margin-left: 20px;
    width: 200px;
    height: 180px;

    img {
      width: 100%;
      height: auto;
    }
  }

  @media screen and (max-width: 700px) {
    h3 {
      font-size: 1.2em;
    }
    .stories-img-container {
      width: 180px;
    }
  }

  @media screen and (max-width: 570px) {
    p, h6 {
      margin: 10px 0;
    }

    .stories-img-container {
      width: 160px;
    }
  }

  @media screen and (max-width: 500px) {

    .stories-img-container {
      float: none;
      height: 120px;
      margin: 0 auto;
    }
  }
}





/* Profile Page */

.profile-container {

  h2 {
    margin-top: 60px;
  }

  .profile-header {
    display: flex;
    margin: 40px 10px 5px;
  }

  .profile-header img {
    border-radius: 3px;
  }

  .profile-header-content {
    margin: 0 30px;
  }

  .company-properties {
    display: flex;
    justify-content: space-around;
    color: darkgray;
    margin: 0px 10px;
    font-size: 0.95m;
  }

  .contributed-reviews {
    padding: 20px;
    display: flex;
    * {
      margin: auto 0;
    }

    .profile-content {
      display: flex;
      flex-direction: column;
      margin-left: 10px;
      max-width: 200px;
    }
  }
}





// List of all sources

.sources-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.source-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 200px;

  h3 {
    margin: 10px
  }
}






// News article page

.article-content {

  h1 {
    margin-bottom: 0;
  }

  img {
    margin-top: 30px;
  }
  
  hr {
    margin: 40px 0;
  }

  .article-title-content {
    display: flex;
    justify-content: space-between
  }
}

.article-source-info {
  background-color: #eee;
  border-radius: 3px;
  margin: 50px 0;
  padding: 15px;
  
  h3 {
    margin: 30px 0 15px;
  }
}

.article-redirect {
  margin: auto;
  cursor: pointer;
  outline: none;
  border: none;
  padding: 12px 20px;
  border-radius: 30px;
  color: rgb(45, 99, 255);
  border: 3px solid rgb(45, 99, 255);
  font-size: 0.9em;
  text-transform: uppercase;
  font-weight: 600;
}

.article-redirect:hover {
  background-color: rgb(45, 99, 255);
  color: white;
}

.article-redirect:active {
  background-color: rgb(14, 30, 78);
}

.comment-container {

  h2 {
    margin-bottom: 20px;
  }

  .article-comment {
    display: flex;
    align-items: center;
  }

  .article-comment img {
    margin: 15px;
    border-radius: 2px;
  }

  p {
    margin: 2px;
  }

  input {
    width: 100%;
    margin: 15px;
    background-color: #eee;
    width: 95%;
    padding: 8px 0 8px 8px;
    border-radius: 3px;
    border: none;
    outline: none;
    font-size: 0.95em;
  }
}






/* Signin & Login pages */

.auth-container {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  padding-top: 60px;

  h1 {
    margin-top: 0;
  }

  a {
    text-decoration: none;
    padding-top: 20px;
    font-size: 1.2em;
  }
}



.auth-button {
  display: block;
  width: 300px;
  padding: 10px;
  border: 3px solid black;
  border-radius: 50px;
  margin: 0px;
  font-size: 1.1em;
  font-weight: 500;
}


.FB-auth {
  border: 3px solid rgb(63, 96, 184)
}

.FB-auth:hover {
  color: white;
  background-color: rgb(63, 96, 184)
}

.LI-auth {
  border: 3px solid rgb(0, 116, 187)
}

.LI-auth:hover {
  color: white;
  background-color: rgb(0, 116, 187)
}

.GO-auth {
  border: 3px solid rgb(255, 190, 0)
}

.GO-auth:hover {
  color: white;
  background-color: rgb(255, 190, 0)
}

.EM-auth {
  border: 3px solid rgb(18, 32, 62)
}

.EM-auth:hover {
  color: white;
  background-color: rgb(18, 32, 62);
}

.auth-separator {
  margin: 50px;
  width: 250px;
  border-bottom: 1px solid rgb(153, 153, 153)
}

.auth-separator + p {
  font-size: 0.9em;
}




// Source profile img

.contributed-reviews {
  display: flex;
  align-items: center;
}

.recent-articles-img-container {
  float: right;
  object-fit: cover;
  margin-left: 20px;
  width: 200px;
  height: 180px;
}

.recent-articles-img-container img {
  width: 100%;
  height: auto;
}

.menu-underline {
  margin: 50px auto;
  width: 200px;
  border-bottom: 2px solid #c2c2c2;
}