
<div class='article-content'>
<h1>Ambassador 'has PM's full support' despite Trump criticism</h1>

<img src='https://ichef.bbci.co.uk/news/736/cpsprodpb/CD59/production/_107796525_trump_darroch.jpg' width='100%'>

<p>
Downing Street has reaffirmed its "full support" for the UK's ambassador to the US after Donald Trump said he will no longer work with him.

The US president was responding after leaked emails revealed Sir Kim Darroch had called his administration inept.

In a series of tweets Mr Trump also criticised Theresa May's handling of Brexit saying she had created "a mess".

Number 10 called the leak "unfortunate" and said the UK and US still shared a "special and enduring" relationship.

BBC New York correspondent Nick Bryant said Sir Kim was still planning to join International Trade Secretary Liam Fox for a scheduled meeting with the president's daughter, Ivanka Trump, on Tuesday.

A Downing Street spokesman said: "We have made clear to the US how unfortunate this leak is. The selective extracts leaked do not reflect the closeness of, and the esteem in which we hold, the relationship."

But he said ambassadors needed to be able to provide honest assessments of the politics in their country, and the prime minister stood by Sir Kim.

"The UK has a special and enduring relationship with the US based on our long history and commitment to shared values and that will continue to be the case," he said.

</p>

<hr />

<p>Comment section</p>

</div>



<div class="comment-box">

</div>
<form action="/article/comment" method="POST">
<label for="comment">Comment:</label>
<input type="text" name="comment" id="new-comment" class="comment">
<button type="submit" id="comment">put comment</button>
</form>
{{!-- create onclink for clearing the field --}}
<br>
<br>

{{data}}