
{{article.title}}

<div class='article-content'>
<h1>Ambassador 'has PM's full support' despite Trump criticism</h1>
<h3>BBC</h3>
<p><em>Source rating: </em>4.5</p>

<img src='https://ichef.bbci.co.uk/news/736/cpsprodpb/CD59/production/_107796525_trump_darroch.jpg' width='100%'>

<p>Downing Street has reaffirmed its "full support" for the UK's ambassador to the US after Donald Trump said he will no longer work with him.</p>

<div class='article-source-info'>
  <h2>About this source...</h2>

  <h3>Description</h3>
    <p>The BBC are widely regarded as the UK's top and most reliable news sources with a strong legacy of upstanding reporting with emphasis on social issues and telling the stories of those around the world who might not have the chance to be heard.</p>
    <p>However, due to their political relationships and prestigous nature, the organisation can demonstrate certain political leanings.</p>
    <p>Overall, the BBC is one of the more reliable UK news sources but one must be cautious of the organisation's relationships with senior members of the UK's leading political parties.</p>

    <h3>Polticial Bias</h3>
    <p>The BBC has historically been a centre-right organisation. It's a publically funded, urban organisation with a higher proportion of young people and ethnic minorities.</p>
    <p>Therefore it tends to hold a liberal bias and, whilst it aligns with the Liberal Party ideals, it also closely allies with the Tories.</p>
    <p>Writers can often flex their own political opinions and agendas so it's best to be aware. </p>

    <h3>Sources of Funding in 2018</h3>
    <p><strong>UK Government Funding: </strong>$56 million</p>
    <p><em>Source: UK Government Public Expenditure Report 2018</em></p>
    <p><strong>Advertising Revenue: </strong>$26 million</p>
    <p><em>Source: BBC Public Accounts 2018</em></p>
    <p><strong>Liberal Party: </strong>$3 million</p>
    <p><em>Source: Liberal Party 2018 Spending Overview</em></p>
    <p><strong>Private Investors: </strong>$1.6 million</p>
    <p><em>Source: BBC Public Accounts 2018</em></p>

  <br />
  <a href='/source/{{article.source.id}}'>Go to profile to edit description.</a>

</div>

<button class='article-redirect'>Go to source</button>

<hr />

<div class='comment-container'>

  <h2>Comments</h2>

  <div class='article-comment'>
    <img src='../images/sample-headshot.jpg' height='100px'>
    <div class='article-comment-content'>
      <h3>Anthony King</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis neque consectetur nostrum maiores explicabo labore asperiores voluptate accusamus eligendi quo.</p>
      <p><em>Rating: </em>4.5</p>
      <button class='like-button'>Like</button>
    </div>
  </div>

  <form action='/article/comment' id="comment"method='POST'>
    <input 
      type='text' 
      name='comment'
      placeholder='Write a comment...'
      id="new-comment"
    >
    <button type="submit">post</button>
  </form>

</div>

</div>
