<h1>List of all news sources</h1>

<div class='sources-container'>
{{#each data}}
  <div class='sources-item'>
    <img src='{{this.image}}' height='120px'>
    <h3>Name: <a href="{{this.url}}">{{this.name}}</a></h3>
    <p><em>Rating: </em>{{this.rating}}</p>
  </div>
{{/each }}
</div>

{{!-- test data for styling --}}

<div class='sources-container'>

  <div class='source-item'>
    <img src='https://liquidcinemavr.com/wp-content/uploads/2019/03/bbc-logo.jpg' height='120px'>
    <h3><a href='#'>BBC</a></h3>
    <p><em>Rating: 4.3</em></p>
  </div>

  <div class='source-item'>
    <img src='https://liquidcinemavr.com/wp-content/uploads/2019/03/bbc-logo.jpg' height='120px'>
    <h3><a href='#'>BBC</a></h3>
    <p><em>Rating:</em> 4.3</p>
  </div>

  <div class='source-item'>
    <img src='https://liquidcinemavr.com/wp-content/uploads/2019/03/bbc-logo.jpg' height='120px'>
    <h3><a href='#'>BBC</a></h3>
    <p><em></em>Rating: 4.3</p>
  </div>

</div>